<!DOCTYPE html>
<html ng-app="PictureProject">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      {{"hello" + " you"}}
    </p>


  </body>
</html>
